/mn-setup/hostfiles/h1/*
/mn-setup/hostfiles/h2/*
/mn-setup/hostfiles/h3/*
/mn-setup/hostfiles/h4/*
/mn-setup/hostfiles/h5/*
/mn-setup/hostfiles/h6/*
/mn-setup/hostfiles/h7/*
/mn-setup/hostfiles/h8/*
/mn-setup/hostfiles/h9/*
/mn-setup/hostfiles/h10/*
